<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<title>TV Programs</title>
		<meta name="description" content="I'm Taylor Vance. I program. Visit my site to see my games, tools, and music.">
		<script src="project-list.js"></script>
		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
		<meta name="msapplication-TileColor" content="#000000">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body>
		<style type="text/css" media="screen">
			body {
				font-family: "Trebuchet MS", Helvetica, sans-serif;
				text-align: center;
			}
			.widget {
				display: inline-block;
				padding: 1em 1.5em 1em 1.5em;
				vertical-align: top;
				width: 15em;
			}
			.icon {
				display: inline-block;
				height: 2.5em;
				margin: 1em 1.5em 1em 1.5em;
				vertical-align: top;
			}
			@media only screen and (min-width: 768px) {
				.widget {
					padding: 1em 3em 1em 3em;
					width: 20em;
				}
			}
		</style>
		<div id="app">
			<h1>I'm Taylor Vance.&nbsp;&nbsp;I program.</h1>

			<hr>

			<project-widget
				v-for="project in projects"
				:key="project.id"
				:title="project.title"
				:description="project.description"
				:url="project.url"
				:img="project.img"
				:externals="project.externals"
			></project-widget>

			<hr>

			<h2>I also make music.</h2>
			<p>
				Check out our band
				<a href="https://dragonemperor.bandcamp.com" target="_blank">The Dragon Emperor &amp; His Largest Army</a>
				or browse our albums below.
			</p>
			<bandcamp-widget
				v-for="album in albums"
				:key="album.id"
				:album="album.album"
				:description="album.description"
				:url="album.url"
				:album-id="album.albumId"
			></bandcamp-widget>

			<hr>

			<a href="https://github.com/taylorvance" target="_blank">
				<img class="icon" src="/images/github.png" title="GitHub" alt="GitHub"/>
			</a>
			<a href="https://www.linkedin.com/in/taylor-vance/" target="_blank">
				<img class="icon" src="/images/linkedin.png" title="LinkedIn" alt="LinkedIn"/>
			</a>
		</div>
	</body>
	<footer>
		<script src="app.js"></script>
	</footer>
</html>
