body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
}

.widget {
	display: inline-block;
	padding: 1em 1.5em 1em 1.5em;
	vertical-align: top;
	width: 15em;
}
@media only screen and (min-width: 768px) {
	.widget {
		padding: 1em 3em 1em 3em;
		width: 20em;
	}
}

.widget-description {
	text-align: justify;
}

.icon {
	display: inline-block;
	height: 2.5em;
	margin: 1em 1.5em 1em 1.5em;
	vertical-align: top;
}
